



<!--<ul>-->
  <!--<li><a href=''>Hello</a></li>-->
  <!--<li><a href="news">About</a></li>-->

<!--</ul>-->

<div class="mainlandone">
  <div class="spacetop"></div>
    <div class="center">
      <img class="logoimg" src="../../../assets/logo_title.png" alt="Mountain View">
      <h4>Hello, I am here to </h4>
      <h2> {{waitdisplay}}</h2>
    </div>
  <table>
    <tr>
      <td class="leftbutton" >
        <button  class="listenLogin" (click)="loginSupp()">Listen</button>
      </td>
      <td class="rightbutton">
        <button class="ventLogin" (click)="loginVent()">Vent</button>
      </td>
    </tr>
  </table>
<div class="spacebot"></div>
</div>
